{% extends 'mod/admbase.html' %}

{% block title%}
Chat page
{% endblock %}

{% block content%}
<div class="d-flex align-items-center">

  <ul class="list-unstyled my-0 mx-auto">
    <li class="d-flex  mb-4">
      <div class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
        <i style="font-size: 2rem; color: #ff5722;" class="fa-solid fa-user"></i>
    </div>                  
    <div class="card" style="max-width: 800px;">
        <div class="card-header d-flex justify-content-between p-3">
          <p class="fw-bold mb-0">User</p>
          <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
        </div>
        <div class="card-body">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
          </p>
          <form method="POST" class="d-flex align-items-center">
            <input type="text" class="form-control" id="" rows="1" placeholder="Message" style="" name="message">
            <button type="submit" class="btn btn-secondary btn-rounded float-end">Send</button>
          </form>
        </div>
      </div>
    </li>
    <li class="d-flex mb-4">
      <div class="card" style="max-width: 800px;">
        <div class="card-header d-flex justify-content-between p-3">
          <p class="fw-bold mb-0">Admin</p>
          <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
        </div>
        <div class="card-body">
          <p class="mb-0">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium.
          </p>
        </div>
      </div>
      <div class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
        <i style="font-size: 2rem; color: #ff5722;" class="fa-solid fa-user"></i>
    </div>                
  </li>
  
  </ul>
</div>


{% endblock %}