{% extends 'mod/admbase.html' %}

{% block title%}
ADMIN DASHBOARD
{% endblock %}

{% block content%}
<div>
<h1> ADMIN DASHBOARD</h1>

<!--start of index.html-->
<div class="card">
     <div class="card-body" style="background-color: #2d4059;">
       <ul class="list-unstyled mb-0">
         <!--list of all the recent messages from users-->
         {% for member, last in chats %}
         {% if last != None %}
         {% if last.replay == None %}
          <li class="p-2 border-bottom">
           <a href="#!" class="d-flex justify-content-between">
             <div class="d-flex flex-row">
               <div class="rounded-circle d-flex align-items-center me-3 " width="60">
                 <i style="font-size: 2.5rem; color: #ff5722;" class="fa-solid fa-user"></i>
               </div>
               <div class="pt-1">
                 <a href="{% url 'mod_chat' id=member.id %}" style="color: #fff;" class="fw-bold mb-0">{{ member.username }}</p>
                 <p style="color: #fff;" class="small">{{ last.message }}</p>
               </div>
             </div>
             <div class="pt-1">
               <p class="small  mb-1" style="color: #ff5722;">{{ last.message_date.time }}</p>
             </div>
           </a>
         </li>
         <!--end of list-->
         {% endif %}
         {% endif %}
         {% endfor %}
       </ul>
     </div>
   </div>
   <style>
     .card-body ul.list-unstyled li a {
       text-decoration: none;
     }
   </style>
   
{% endblock %}