{% extends 'user/base.html' %}

{% block title%}
Home
{% endblock %}

{% block content%}

<div class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </div>
<div class="row" style="border-bottom: 2px solid #343a40;">
    {% if user_plans %}
    <h1 class="h2 p-5"> </h1>
    <br>
    {% for user_plan in user_plans %}
    {% if user_plan.invested_amount != "0" %}
   
              
                
                
               
               
                <div class="d-grid gap-2">
                    <h2 class="header">{{ user_plan.plan.plan_name }}</h2>
                    <p class="card-text text-center" style="font-size: 1.2em;">({{ user_plan.plan.plan_min_percentage }}% - {{ user_plan.plan.plan_max_percentage }}%)</p>
                     <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ user_plan.user_status }}</p>
                  </div>
                <div class="container scroll-animation-text my-5">
                    <div class="row">
                      <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                          <div class="card-body text-center">
                            <i class="fa-solid fa-money-bill" style="color:black; font-size: 3rem;"></i><br><br>
                            <h5 class="lead font-italic card-title fw-bold"> INVESTED</h5>
                            <p class="lead font-italic card-title fw-light">$ {{ user_plan.invested_amount }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                          <div class="card-body text-center">
                            <i class="fa-solid fa-chart-line" style="color: black; font-size: 3rem;"></i><br><br>
                            <h5 class="lead font-italic card-title fw-bold"> TOTAL EARNED PROFIT</h5>
                            <p class="lead font-italic card-title fw-light">$ {{ user_plan.user_profit }}</p> 
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card">
                          <div class="card-body text-center">
                            <i class="fa-solid fa-regular fa-calendar-days" style="color: black; font-size: 3rem;"></i><br><br>
                            <h5 class="lead font-italic card-title fw-bold">DAYS</h5>
                            <p class="lead font-italic card-title fw-light">{{ user_plan.days }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary" href="{% url 'payment' %}" type="button">CLICK HERE TO UPGRADE YOUR PLAN</a><br>
                    
                  </div>
                
                  <hr>
                  

                  <div>

                   
                   
                    <div class="container scroll-animation-text my-5">
                        <div class="row">
                          <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card">
                              <div class="card-body text-center">
                                <i class="fa-solid fa-users" style="color:rgb(77, 196, 200); font-size: 5rem;"></i><br><br>
                                <h5 class="lead font-italic card-title fw-bold">TEAM</h5>
                                <p class="lead font-italic card-title fw-light">$ no of reffer</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card">
                              <div class="card-body text-center">
                                <i class="fa-solid fa-user-plus" style="color: rgb(77, 196, 200); font-size: 5rem;"></i><br><br>
                                <h5 class="lead font-italic card-title fw-bold"> TOTAL REFFERED PROFIT</h5>
                                <p class="lead font-italic card-title fw-light">$ {{ user_plan.user_referral_profit }}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card">
                              <div class="card-body text-center">
                                <i class="fa-solid fa-wallet" style="color: rgb(77, 196, 200); font-size: 5rem;"></i><br><br>
                                <h5 class="lead font-italic card-title fw-bold">BALANCE</h5>
                                <p class="lead font-italic card-title fw-light">$ {{ user_plan.total_profit }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                               
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="{% url 'withdraw' %}" type="button">CLICK HERE TO WITHDRAW</a><br>
                        
                      </div>
               

        
        {% else %}
        <div class="col-md">
            <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #ff5722; border-radius: 5px; transition: transform 0.2s; background-color: #2d4059;">
                <div class="card-body">
                    <h3>ad.</h3>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <br>
        
</div>
<br>
<div class="row"style="border-bottom: 2px solid #343a40;">
    
    {% if payments %}
    <h1 class="h2">Payments</h1>
    {% for payment in payments %}
    {% if payment.transaction_status != "approved" %}
    <div class="col-md">
    <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #ff5722; border-radius: 5px; transition: transform 0.2s; background-color: #2d4059;">
        <div class="card-body">
            <p class="card-text text-center" style="font-size: 1.2em;">payment</p>
            <br>
            <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - {{ payment.transaction_amount }}</p>
            <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ payment.transaction_status }}</p>
            <p class="card-text text-center" style="font-size: 1.2em;">{{ payment.date }}</p>
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
<br>
<div class="row"style="border-bottom: 2px solid #343a40;">

    {% if withdraws %}
    <h1 class="h2">Withdraws</h1>
    {% for withdraw in withdraws %}
    {% if withdraw.withdraw_status == "pending" %}
    <div class="col">
    
        <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
            <div class="card-body">
                <p class="card-text text-center" style="font-size: 1.2em;"> withdraw </p>
                <br>
                <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - {{ withdraw.withdraw_amount }}</p>
                <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ withdraw.withdraw_status }}</p>
                <p class="card-text text-center" style="font-size: 1.2em;">{{ payment.date }}</p>
            
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>
    {% endblock %}
