{% extends 'user/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

    {% load static %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" id="ksjfskjnvnj">
        <div class="carousel-item active" style="width: 100%; height: 100%;background-image: url({% static '/img/cars.jpg' %}); background-repeat: no-repeat; background-size: cover; ">
        </div>
        <div class="carousel-item" style="width: 100%; height: 100%;background-image: url({% static '/img/cars-2.jpg' %}); background-repeat: no-repeat; background-size: cover; ">
        </div>
        <div class="carousel-item" style="width: 100%; height: 100%;background-image: url({% static '/img/cars-3.jpg' %}); background-repeat: no-repeat; background-size: cover; ">
        </div>
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

    <div class="row" style="border-bottom: 2px solid #343a40;">
        {% if user_plans %}
            <h1 class="h2 p-5"> </h1>
            <br>
            {% for user_plan in user_plans %}
                {% if user_plan.invested_amount != "0" %}
                <div class="container-fluid bg-primary py-3">
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <h1 class="text-white">{{ user_plan.plan.plan_name }}</h1>
                      </div>
                  </div>
              </div>
              <div class="container my-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-money-bill-transfer"
                                            style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> INVESTED</h5>
                                        <p class="lead font-italic card-title fw-light">$ {{ user_plan.invested_amount }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-chart-line" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> TOTAL EARNED PROFIT</h5>
                                        <p class="lead font-italic card-title fw-light">$ {{ user_plan.user_profit }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-regular fa-calendar-days"
                                            style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold">DAYS</h5>
                                        <p class="lead font-italic card-title fw-light">{{ user_plan.days }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container scroll-animation-text my-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-users" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold">TEAM</h5>
                                        <p class="lead font-italic card-title fw-light">{{ team_no }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-user-plus" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> TOTAL REFFERED PROFIT</h5>
                                        <p class="lead font-italic card-title fw-light">$ {{ user_plan.user_referral_profit }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-wallet" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold" style="color: white;">BALANCE</h5>
                                        <p class="lead font-italic card-title fw-light">$ {{ user_plan.total_profit }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="{% url 'withdraw' %}" type="button">CLICK HERE TO WITHDRAW</a>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                      {% for plan in plans %}
                      <div class="col-md-4">
                          <div class="card mb-3">
                              <div class="card-header bg-primary text-white text-center">
                                  <h4 class="fw-bold">{{ plan.plan_name }}</h4>
                              </div>
                              <div class="card-body" style="background-image: url(https://images.unsplash.com/photo-1640340434855-6084b1f4901c?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYWRpbmd8ZW58MHx8MHx8fDA%3D);">
                                  <h5 class="card-title text-center text-light mb-4">Invest: ${{ plan.plan_min_price }} - ${{ plan.plan_max_price }}</h5>
                                  <h5 class="card-title text-center text-light mb-4">Profit: {{ plan.plan_min_percentage }}% - {{ plan.plan_max_percentage }}%</h5>
                                  <div class="text-center">
                                      <a href="{% url 'payment' %}" class="btn btn-success">Upgrade Plan</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  {% endfor %}
                    </div>
                {% else %}
                    <div class="d-grid gap-2">
                        <div class="header">
                            <h2 >SEL</h2>
                        </div>
                    </div>
                    <div class="container my-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-money-bill-transfer"
                                            style="color:white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> INVESTED</h5>
                                        <p class="lead font-italic card-title fw-light">$0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-chart-line" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> TOTAL EARNED PROFIT</h5>
                                        <p class="lead font-italic card-title fw-light">$ 0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class "card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-regular fa-calendar-days"
                                            style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold">DAYS</h5>
                                        <p class="lead font-italic card-title fw-light">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container scroll-animation-text my-5">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-users" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold">TEAM</h5>
                                        <p class="lead font-italic card-title fw-light">$ 0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-user-plus" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold"> TOTAL REFFERED PROFIT</h5>
                                        <p class="lead font-italic card-title fw-light">$ 0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="{% static '/img/bg.jpg' %}" class="card-img" alt="...">
                                    <div class="card-img-overlay text-center text-white">
                                        <i class="fa-solid fa-wallet" style="color: white; font-size: 3rem;"></i><br><br>
                                        <h5 class="lead font-italic card-title fw-bold" style="color: white;">BALANCE</h5>
                                        <p class="lead font-italic card-title fw-light">$ 0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary" href="{% url 'withdraw' %}" type="button">CLICK HERE TO WITHDRAW</a>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                      {% for plan in plans %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="fw-bold">{{ plan.plan_name }}</h4>
                    </div>
                    <div class="card-body" style="background-image: url(https://images.unsplash.com/photo-1640340434855-6084b1f4901c?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYWRpbmd8ZW58MHx8MHx8fDA%3D);">
                        <h5 class="card-title text-center text-light mb-4">Invest: ${{ plan.plan_min_price }} - ${{ plan.plan_max_price }}</h5>
                        <h5 class="card-title text-center text-light mb-4">Profit: {{ plan.plan_min_percentage }}% - {{ plan.plan_max_percentage }}%</h5>
                        <div class="text-center">
                            <a href="{% url 'payment' %}" class="btn btn-success">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                      <a class="btn btn-primary" href="{% url 'withdraw' %}" type="button">CLICK HERE TO WITHDRAW</a>
                  </div>
                  <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
    </div>
    <br>
    
{% endblock %}
