<div class="sidenav" style="background-color: rgb(255,255,255); border-right: 2px solid rgb(255,255,255);">
    <header class="  " style="background-color: rgb(255,255,255); margin-left: 0; ">
        <div style="width: 260px;"></div>
         <h1 class="fw-bold text-dark p-4 text-center" style="background-color: rgb(255,255,255); ">AI FX</h1>
        
         
       </header>
    {% if user.is_authenticated %}
    
    <ul style=" background-color: rgb(255,255,255);" class="py-4">
        <li class="list-item">
        <div class="sidenav-header py-2" style="background-color: rgb(255,255,255); height: 88px;">
            <button class="toggle-btn" style="visibility: hidden;" id="sidebar-toggle-btn-1">&equiv;</button>
            <div class="dropdown">
                <i class="fa-solid fa-user" style="color: black; font-size: 3rem"></i><br>
                <h4  class="fw-bold text-dark"> {{ user.username }} </h4>
                
                
              
              </div>
            
        </div><br>
    </li>
   

        <li class="list-item">
            <a class="nav-item py-3 text-black fw-bold" href="{% url 'user_dashboard' %}">
                <i class="fa-solid fa-house" style="color: #000000; font-size: 1.5rem;"></i> DASHBOARD
            </a>
        </li>
          <li class="list-item">
              <a class="nav-item py-3  text-black fw-bold" href="{% url 'payment' %}">
                <i class="fa-solid fa-money-bill" style="color:black; font-size: 1.5rem;"></i> INVEST
              </a>
          </li>
          <li class="list-item">
              <a class="nav-item py-3 text-black fw-bold" href="{% url 'plans' %}">
                  PLANS
              </a>
          </li>
          <li class="list-item">
            <a class="nav-item py-3 text-black fw-bold" href="{% url 'withdraw' %}">
                WITHDRAW
            </a>
        </li>
          
        <li class="list-item">
            <a class="nav-item py-3 text-black fw-bold" href="{% url 'refer' %}">
                REFER
            </a>
        </li>
        <li class="list-item">
            <a class="nav-item py-3 text-black fw-bold" href="{% url 'history' action='payments' %}">
                HISTORY
            </a>
        </li>
        <li class="list-item">
            <a class="nav-item py-3 text-black fw-bold" href="{% url 'chat' %}">
                CONTACT
            </a>
        </li>
          <!-- Add more menu items here -->
      </ul>
        {% else %}
        <div style="background-color: #ff5722; height: 100%; width: 100%;"  class="d-flex justify-content-center align-items-center">
            <div>

                <h1 class="display-4 text-center text-light">AI</h1>
                <h1 class="display-4 text-center text-light">FX</h1>
            </div>
        </div>
      
      {% endif %}
    </div>
