{% extends 'user/base.html' %}

{% block title%}
OUR PLANS
{% endblock %}

{% block content%}
<div>
<h1 class="h2 fw-bold text-white"> PLANS </h1><br>

<div class="row">
    {% for plan in plans %}
    <div class="col-md-4">
        <div class="card mb-3" style="border: 2px solid #ff5722;">
            <h4 class="card-header bg-primary border-success p-3 text-center text-white">{{ plan.plan_name }}</h4>
            <div class="card-body text-success">
                <h5 class="card-title text-center p-3">Invest: ${{ plan.plan_min_price }} - ${{ plan.plan_max_price }}</h5>
                <h5 class="card-title text-center p-3">Profit: {{ plan.plan_min_percentage }}% - {{ plan.plan_max_percentage }}%</h5>
            </div>
            <a href="{% url 'payment' %}" type="button" class="btn btn-success">SELECT</a>
        </div>
    </div>
    
    
{% endfor %}
</div>


<br>

{% endblock %}