{% extends 'user/base.html' %}
{% load static %}
{% block title %}
OUR PLANS
{% endblock %}

{% block content %}
<div class="container" style="height: 90vh;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5 fw-bold">OUR INVESTMENT PLANS</h1>
        </div>
    </div>
    <div class="row">
        {% for plan in plans %}
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white text-center">
                        <h4 class="fw-bold">{{ plan.plan_name }}</h4>
                    </div>
                    <div class="card-body" style="background-image: url({% static '/img/planbg.jpg' %});">
                        <h5 class="card-title text-center text-light mb-4">Invest: ${{ plan.plan_min_price }} - ${{ plan.plan_max_price }}</h5>
                        <h5 class="card-title text-center text-light mb-4">Profit: {{ plan.plan_min_percentage }}% - {{ plan.plan_max_percentage }}%</h5>
                        <div class="text-center">
                            <a href="{% url 'payment' %}" class="btn btn-success">Select Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
   <!-- <div class="row">
        <div class="col-md-12">
            <hr>
            <div class="text-center">
                <a href="{% url 'withdraw' %}" class="btn btn-primary">Withdraw Funds</a>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}