
{% extends 'user/base.html' %}

{% block title%}
MY PROFILE
{% endblock %}

{% block content %}
<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header" style="background-color: #ff5622; color: #fff;">
          <h3>Profile Page</h3>
        </div>
        <div class="card-body" style="background-color: #2d4059; color: #fff;">
          <h4>Welcome, {{ user.username }}</h4>
          <ul class="list-group">
            <li class="list-group-item" style="background-color: #222831; color: #fff;">Full Name: {{ user.get_full_name }}</li>
            <li class="list-group-item" style="background-color: #222831; color: #fff;">Email: {{ user.email }}</li>
            <li class="list-group-item" style="background-color: #222831; color: #fff;">Mobile No.: {{ user.number }}</li>
            
          </ul>
          <a href="{% url 'profile_update' id=9576414653 %}" class="btn btn-secondary mt-3">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<br>

<div style="display: flex; align-items: center; justify-content: center">
  <div class="" style="display: flex; align-items: center; justify-content: center; border-radius: 50%;  background-color: rgb(77, 196, 200); width: 100px; height: 100px;"> 
      <i class="fa-solid fa-user" style="color: black; font-size: 4rem"></i><br>
  </div>  
</div>
<br>

<h2 class="text-center fw-bold text-black">MY PROFILE</h2>


  <div class="row justify-content-center mt-5 text-center">
      <div class="col-md-">
        <div class="card border-0 shadow p-1">
          <div class="card-header bg-primary text-light text-center">
<div class="row g-3 mt-5 p-2 text-center" >
  <div class="col">
    <h4 class="fw-bold text-dark">USERNAME</h4>
    <h5 class="fw-lighter">{{ user.username }}</h5>
  </div>
  <div class="col">
    <h4 class="fw-bold text-dark">FULL NAME</h4>
    <h4>{{ user.get_full_name }}</h4>
  </div>
</div>
<div class="row g-3 mt-5 p-2 text-center" >
  <div class="col">
    <h4 class="fw-bold text-dark">MOBILE NUMBER</h4>
    <h4>{{ user_plan.contact }}</h4>
  </div>
  <div class="col">
    <h4 class="fw-bold text-dark">EMAIL</h4>
    <h4>{{ user.email }}</h4>
  </div>
</div>
<div class="row g-3 mt-5 p-2 text-center" >
  
  <div class="col">
    <a href="{% url 'profile_update' id=9576414653 %}" class="btn btn-secondary mt-3">Edit Profile</a>
  </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-success" href="{% url 'passw_change' %}" type="button">CHANGE PASSWORD</a>
</div>
</div>
</div>
</div>

{% endblock %}
