{% extends 'user/base.html' %}

{% block title%}
REFER
{% endblock %}

{% block content%}

<div class="messages">
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</div>

<div class="mt-5" style="height: 75vh;">
  <h1 class="text-center fw-bold">REFFERAL</h1>
  <div class="row justify-content-center mt- text-center">
      <div class="col-md-6">
        <div class="card border-0 shadow p-3">
          <div class="card-header bg-primary text-light text-center">
              Referral ID: {{ refer.referral_id }}
          </div><br>
          <div class="card-bod text-center">
              {% if refer.referred_user %}
                  
                      <div class="col-md-18">
                          <ul class="list-group text-center">
                              <li class="list-group-item bg-light fw-bold">
                                  Referred By
                              </li>
                              <li class="list-group-item">
                                  {{ refer.referred_user }}
                              </li>
                          </ul>
                      </div><br><br>
                      <div class="col-md-18 text-center">
                          <ul class="list-group ">
                              <li class="list-group-item bg-light fw-bold">
                                  Team
                              </li>
                              {% for member in members %}
                                  <li class="list-group-item">
                                      {{ member.username }}
                                  </li>
                              {% endfor %}
                          </ul>
                      </div>
                 
              {% else %}
                  <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                          <input required type="text" placeholder="Referral ID" name="referred_id" class="form-control mb-2">
                      </div>
                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Add Referral</button>
                      </div>
                  </form>
              {% endif %}
          </div>
      </div>
      </div>
  </div>
</div>

{% endblock %}