{% extends 'user/base.html' %}

{% block title%}
REFER
{% endblock %}

{% block content%}
<div class="mt-5">
<h1> REFER </h1>

<div class="row">
    <div class="col-md">
        <div class="card p-3" style="max-width: 18rem; text-decoration: none; border: 2px solid #ff5722; border-radius: 5px; transition: transform 0.2s; background-color: #2d4059;">
            <div class="card-header text-light">
                Refferal ID :- {{ refer.referral_id }}
            </div>
            {% if refer.referred_user %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-light" style="background-color: #2d4059;">Reffered by {{ refer.referred_user }}</li>
              <li class="list-group-item text-light" style="background-color: #2d4059;">Reffered members :-</li>
              {% for member in members %}
              <li class="list-group-item text-light" style="background-color: #2d4059;">{{ member.username }}</li>
              {% endfor %}
            </ul>
            {% else %}
            <form method="POST">
              {% csrf_token %}
              <input required type="text" placeholder="Referal ID" name="referred_id" class="w-100 mb-2">
              <input required type="submit" value="ADD" class="btn btn-secondary w-100">
            </form>
            {% endif %}
          </div>
    </div>
</div>

</div>

{% endblock %}