
{% extends 'user/base.html' %}

{% block title%}
 UPDATE PROFILE
{% endblock %}

{% block content%}
<div>


<div style="display: flex; align-items: center; justify-content: center">
  <div class="mt-4" style="display: flex; align-items: center; justify-content: center; border-radius: 50%;  background-color: rgb(77, 196, 200); width: 100px; height: 100px;"> 
      <i class="fa-solid fa-user" style="color: black; font-size: 4rem"></i><br>
  </div>  
</div>
<br>

<h2 class="text-center fw-bold">UPDATE PROFILE</h2>

<form method="POST">
  {% csrf_token %}
  <div class="row  m-5 p-2 text-center" >
    <div class="col">
          <input type="text" class="form-control" placeholder="First name" aria-label="First name" value="{{ user.first_name | default:'' }}" name="fname" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" value="{{ user.last_name | default:'' }}" name="lname" required>
        </div>
      </div>
      <div class="row  m-5 p-1 text-center" >
        <div class="col">
          <input type="username" class="form-control" placeholder="username" id="inputEmail3" value="{{ user.username | default:'' }}" name="uname" required readonly>

      </div>
    </div>
    <div class="row  m-5 p-2 text-center" >
      <div class="col">
          <input type="email" class="form-control" placeholder="email" id="inputEmail3" value="{{ user.email | default:'' }}" name="up_email" required>
        </div>
      </div>
      <div class="row  m-5 p-2 text-center" >
        <div class="col">
          <input type="tel" class="form-control" placeholder="contact number" id="inputEmail3" value="{{ user_plan.contact | default:'' }}" name="contact" required>
        </div>
      </div>
      <div class="row  m-5 p-2 text-center" >
        <div class="col">
      <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
  </form>
</div>





{% endblock %}